@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Raleway", sans-serif;
}

.theme-red {
  --theme-color: rgb(224, 67, 67);
  --theme-color-light: hsl(0, 86%, 90%);
  --theme-success: hsl(142, 77%, 73%);
}

.theme-dark.theme-red {
  --theme-color: rgb(224, 67, 67);
  --theme-color-light: hsl(0, 86%, 65%);
  --theme-success: hsl(142, 77%, 73%);
}

.theme-dark.theme-hamann {
  /* --theme-color: hsl(241, 99%, 63%);
  --theme-color-light: hsl(241, 90%, 65%); */
  --theme-success: hsl(142, 77%, 73%);
}

.theme-hamann {
  /* --theme-color: hsl(241, 99%, 63%);
  --theme-color-light: hsl(241, 90%, 85%); */
  --theme-success: hsl(142, 77%, 73%);
}

.theme {
  /* theme-color */

  /* TEXT COLORS */
  --color-text-base-dark: hsl(255, 100%, 0%);
  --color-text-base-light: hsl(240, 14%, 61%);
  --color-text-accent: var(--theme-color);
  --color-text-base-inverted: hsl(0, 14%, 100%);

  /* background colors */
  --color-background-base-light: hsl(260, 20%, 100%);
  --color-background-base-dark: hsl(260, 20%, 96%);
  --color-background-accent: var(--theme-color);
  --color-background-accent-light: var(--theme-color-light);

  --color-background-base-inverted: hsl(222, 11%, 22%);

  /* border colors */
  --color-border-base-light: #ddd;
  --color-border-base-dark: #aaa;
  --color-border-accent: var(--theme-color);

  /* shadow colors */
  --color-shadow-base-light: hsl(260, 20%, 96%);
  --color-shadow-base-dark: hsl(260, 20%, 92%);

  /* general */

  --color-success: var(--theme-success);
  --color-error: var(--theme-color-light);
  --accent: var(--theme-color);
}

.theme-dark {
  /* TEXT COLORS */

  --color-text-base-dark: hsl(0, 0%, 100%);
  --color-text-base-light: hsl(0, 0%, 80%);
  --color-text-accent: var(--theme-color);
  --color-text-base-inverted: hsl(0, 14%, 100%);

  --color-background-base-light: hsl(240, 21%, 25%);
  --color-background-base-dark: hsl(240, 21%, 15%);
  --color-background-accent: var(--theme-color);
  --color-background-accent-light: var(--theme-color-light);
  --color-background-base-inverted: hsl(0, 100%, 100%);

  /* border colors */
  --color-border-base-light: #333;
  --color-border-base-dark: #222;
  --color-border-accent: var(--theme-color);

  /* shadow colors */
  --color-shadow-base-light: hsl(240, 21%, 15%);
  --color-shadow-base-dark: hsl(240, 21%, 10%);

  /* outline */
  --color-outline-accent: var(--theme-color);

  /* focus */
  --color-focus-accent: var(--theme-color);

  --color-success: var(--theme-success);
  --color-error: var(--theme-color-light);
  --accent: var(--theme-color);

  --color-ring-accent: var(--theme-color);

  font-size: 16px;
}
